.navbar{
  align-items: center;
  background-color: #cd890c;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  img{
    height:100px;
    width:100px;
  }

  .links{
    display: flex;
    font-size: 1.5rem;
    gap: 2%;
    justify-content: flex-end;
    @media screen and (max-width: 768px) {
          flex-direction: column;
      }

     a{
        border-radius: 5px;
        color: #171b20;
        padding: .5rem;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            background-color: #171b20;
        color: #cd890c;
        }
     }

  }

}